[submodule "nepi_app_pointcloud"]
	path = nepi_app_pointcloud
	url = git@github.com:nepi-engine/nepi_app_pointcloud.git
[submodule "nepi_app_nav_pose_publisher"]
	path = nepi_app_nav_pose_publisher
	url = git@github.com:nepi-engine/nepi_app_nav_pose_publisher.git
[submodule "nepi_app_image_sequencer"]
	path = nepi_app_image_sequencer
	url = git@github.com:nepi-engine/nepi_app_image_sequencer.git
[submodule "nepi_app_ai_targeting"]
	path = nepi_app_ai_targeting
	url = git@github.com:nepi-engine/nepi_app_ai_targeting.git
[submodule "nepi_app_image_viewer"]
	path = nepi_app_image_viewer
	url = git@github.com:nepi-engine/nepi_app_image_viewer.git
[submodule "nepi_app_file_pub_img"]
	path = nepi_app_file_pub_img
	url = git@github.com:nepi-engine/nepi_app_file_pub_img.git
[submodule "nepi_app_file_pub_vid"]
	path = nepi_app_file_pub_vid
	url = git@github.com:nepi-engine/nepi_app_file_pub_vid.git
[submodule "nepi_app_file_pub_pcd"]
	path = nepi_app_file_pub_pcd
	url = git@github.com:nepi-engine/nepi_app_file_pub_pcd.git
[submodule "nepi_app_onvif_mgr"]
	path = nepi_app_onvif_mgr
	url = git@github.com:nepi-engine/nepi_app_onvif_mgr.git
[submodule "nepi_app_ai_pt_tracker"]
	path = nepi_app_ai_pt_tracker
	url = git@github.com:nepi-engine/nepi_app_ai_pt_tracker.git
[submodule "nepi_app_ai_stats"]
	path = nepi_app_ai_stats
	url = git@github.com:nepi-engine/nepi_app_ai_stats.git
[submodule "nepi_app_ai_alerts"]
	path = nepi_app_ai_alerts
	url = git@github.com:nepi-engine/nepi_app_ai_alerts.git
